@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-zinc-700: #3f3f46;
  --color-zinc-500: #71717a;
  --color-zinc-400: #a1a1aa;
  --color-zinc-300: #d4d4d8;
  --color-zinc-200: #e4e4e7;
  
  --color-emerald-500: #10b981;
  --color-emerald-400: #34d399;
}

:root {
  --background: #09090b; /* Zinc 950 */
  --foreground: #e4e4e7; /* Zinc 200 */
}

body {
  background: var(--background);
  color: var(--foreground);
}
